@font-face {
    font-family: "Orkney Light";
    src: url("public/fonts/Orkney/Orkney Light.ttf") format("ttf"),
    url("public/fonts/Orkney/Orkney Light.otf") format("otf"),
    url("public/fonts/Orkney/Orkney Light.woff") format("woff"),
    url("public/fonts/Orkney/Orkney Light.woff2") format("woff2"),
    url("public/fonts/Orkney/Orkney Light.eot") format("eot");
}

@font-face {
    font-family: 'aileronregular';
    src: url('public/fonts/Ailerons/Aileron-Regular-webfont.eot');
    src: url('public/fonts/Ailerons/Aileron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('public/fonts/Ailerons/Aileron-Regular-webfont.woff') format('woff'),
    url('public/fonts/Ailerons/Aileron-Regular-webfont.ttf') format('truetype'),
    url('public/fonts/Ailerons/Aileron-Regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Footer */
footer {
    margin: 0;
    padding: 0;
    font-family: 'Orkney Light', sans-serif;
}

.border_footer {
    border-top: #d6d6d6 1px solid;
    margin: auto 30px 200px 30px;

}

.social_media_mobile {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 25px 15px;
}

.social_media_mobile i {

    color: #183549;
    font-size: 31px;
}

.footer-blue {
    background-color: #183549;
    margin: 0;
    padding: 0;
    color: white;
}

.footer-mobile-info {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.element-footer-mobile {
    text-align: center;
    margin-top:10px;

}

.element-footer-mobile img {

    max-height: 43px;
    max-width: 43px;
    margin: 5px;

}
.text-footer-mobile{
    padding: 5px;
}

.mentions_bas_page {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Ailerons", sans-serif;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;

}
.mentions_bas_page p {
    font-family: 'Orkney Light', sans-serif;
    padding: 0 10px;
}
.mention-border {
    border-left: #d6d6d6 1px solid;
    border-right: #d6d6d6 1px solid;
    padding: 0 15px;
}

/*Fin Footer Mobile */

/*Footer Desktop */
@media only screen  and (min-width: 767px) {
    .text-footer-desk {
        font-size: 12px;
        color: #E8A14A;
    }

    .footer-desk-yellow {
        margin-bottom: ;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #icone-sociale_footer {
        display: flex;
        justify-content: space-around;
    }

    i {
        font-size: 50px;
        color: #E8A14A;
    }

    .footer-desktop-info {
        text-align: center;
        display: flex;
        flex-flow: row;
        justify-content: space-around;

    }

    #icone_sociale_footer {
        display: flex;
        flex-flow: row;
        align-self: flex-end;
    }

    .icone-footer-desk {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 40px;
        max-width: 40px;
    }

    h3 {
        font-size: 25px
    }

    .logo-footer-desk {
        height: 70px;
        width: 60%;
    }
}

/* Fin Footer Desktop */

/*Bouton retour haut*/

.bouton-haut {
    text-align: right;
    padding-bottom: 10px;
    margin-right: 10px;
}

/* Header styles
------------------------------------------------------------------------------------ */

.navbar-nav {
    flex-direction: row;
}

.navbar {
    align-items: flex-start;
    justify-content: space-between;

}

.posLogo {
    height:157px;
    width: 189px;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px
}


.slogan {
    color: rgba(255, 255, 255, 1)!important;
    bottom: 10px;
    position: absolute;
    font-family: "Ailerons", sans-serif;
    font-size: 28px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: none !important;
    }

    .slogan {
        font-size: 40px;
        left: 300px;
        font-family: "Ailerons", sans-serif;
    }
}


.paddingr20 {
    padding-right: 30px;
}

.banner{
    background-image: url(../images/backgroundfilter.png);
    background-size: cover;
    background-position: center;
    height: 396px;
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1)!important;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 1)!important;
}
.toggler {

    width: 90px;
    height: auto;

}
.toggler svg {
    color: white !important;
    width: 100%;
    height: auto;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: white;
    stroke-dashoffset: 0px;
}
path#top,
path#bottom {
    stroke-dasharray: 240px, 950px;
}
path#middle {
    stroke-dasharray: 240px, 240px;
}
.cross path#top,
.cross path#bottom {
    stroke-dashoffset: -650px;
}
.cross path#middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px, 220px;
}


svg {
    width: 200px;
    height: 150px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*------------------------------------------------------------------------------------ */


/* Catalogue */
/* Effet polaroïd */

* {
    box-sizing: border-box
}
.wrapper {
    width: 100%;
    padding: 0 2rem;
    text-align: center;

}
.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);

}
.polaroid > img{
    width: 300px;
    height:216px;
}
.caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
}
.item {

    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(100%);
}
.item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
    transform: rotate(4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
    transform: rotate(-4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
}
.item:hover .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    transition: all 0.35s;
}

/* Fin effet Polaroïd Catalogue*/

/* Début fiche-produit */

.fpContainer {
    text-align: center;
}

.fpImages {
    display: flex;
    justify-content: space-around;
}

.fpButton {
    border-color: #E6E6E6;
    display: flex;
    justify-content: space-around;
}

.fpOrangeContinuer {
    background-color: #E8A14A;
}

.fpChoixTaille {
    text-align: center;
    align-items: center;
}

.fpCenter {
    text-align: center;
}

.fpImageDuProduit {
    width: 300px;
    height: 300px;
    text-align: center;
}

.fpImagesPersonalisation {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

/* Fin fiche-produit */
