/* Footer Mobile */

.border_footer {
    border-top: #d6d6d6 1px solid;

}
.social_media_mobile {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;

}
.social_media_mobile i {

    color: #183549;
    font-size: 35px;
}

.footer-blue {
    background-color: #183549;
    margin: 0;
    padding:0;
}

/*Fin Footer Mobile */
