@font-face {
    font-family: "Orkney";
    src: url("/storage/app/public/element_ressource/Polices/Orkney/Orkney Regular.otf") format("otf"),
    url("/storage/app/public/element_ressource/Polices/Orkney/Orkney Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Ailerons";
    src: url("/element_ressource/Polices/Ailerons/Ailerons-Regular.otf") format("otf");
}

/* Footer Mobile */
footer {
    margin:0;
    padding: 0;
}
.border_footer {
    border-top: #d6d6d6 1px solid;
    width: 90%;

}
.social_media_mobile {
    display:flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-around;
    padding: 30px 60px;

}
.social_media_mobile i {

    color: #183549;
    font-size: 31px;
}

.footer-blue {
    background-color: #183549;
    margin: 0;
    padding:0;
    color: white;
}

.footer-mobile-info {
    font-family: Orkney;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: #d6d6d6 1px solid;
}

.element-footer-mobile {
    display: flex;
    flex-direction: column;
}

.element-footer-mobile img {

    max-height: 43px;
    max-width: 43px;
}

.mentions_bas_page {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Ailerons;
}

.mention-border {
    border-right: #d6d6d6 1px solid;
    margin: 10px 20px;
}

/*Fin Footer Mobile */
